body{
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: hsl(225, 6%, 25%);
    height: 40px;
    width: 100%;
}

h1{
    align-self: center;
    font-size: 25px;
    margin: 0px 10px;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.top-pane {
    background-color: hsl(225, 6%, 25%);
}

.pane {
    height: 55vh;
    display: flex;
}

img {
    height: 35px;
}

.editor-container {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    background-color: hsl(225, 6%, 25%);
}

.editor-container.collapsed{
    flex-grow: 0;
}

.editor-container.collapsed .CodeMirror-scroll {
    position: absolute;
    overflow: hidden !important;
}

.expand-collapse-btn {
    margin-left: .5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.editor-title {
    display: flex;
    justify-content: space-between;
    background-color: hsl(225, 6%, 10%);
    color: white;
    padding: .5rem .5rem .5rem 1rem;
    border-top-right-radius: .8rem;
    border-top-left-radius: .8rem;
}

.CodeMirror {
    height: 100% !important;
}

.code-mirror-wrapper {
    flex-grow: 1;
    border-bottom-right-radius: .5rem;
    border-bottom-left-radius: .5rem;
    overflow: hidden;
}